$color: #ff5950;


body{
  height: 100vh;
    main{
      margin-left: 30px;
      margin-right: 30px;
    }
  }

.custom-select {
  width: 200px;
}

.li {
  display: none;
}

.navbar {
  background-color: $color;
  ;
}
.text-area {
  width: 100%;
  height: 200px;
  resize: vertical;
}
.hover :hover{
  background-color: aqua;
}

.border {
  border: 3px solid black;
}

.img,.poste{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10%;
}
.offre{
  width: 80%;
  margin: 30px;
}
.text-start{
  width: 70%;
}

.tri{
  height: 300px;
}
.element{
  margin-left: 29px;
}

.input-group{
  width: 40%;
  margin-left: 30px;
  margin-top: 30px;
}

.search{
  height: 200px;
}

.card{

  
  margin: 0 auto;
  margin: 50px;
}

.offer{
  height :100vh;
}

.section-offre{
  height: 600px;
}
.my-offers{
  height: 100vh;
 
}

.my-widht{
  width: 100%;
}
.color{
  color:$color
}