{% set cancel_route = "app_admin_offers_index" %}
{% set title = "Ajouter une offre" %}
{% extends 'admin_with_form.html.twig' %}
{% block title %}New Offers{% endblock %}

{% block forms %}

    {{ include('admin/offers/_form.html.twig') }}

    	<a href="{{ path('app_admin_offers_index') }}" class="btn btn-warning mt-3">Retour </a>
{% endblock %}
